---
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout>
	<h1>CSS Playground</h1>
	<ul class="links">
		<li><a href="/has-overlapping">overlapping components with :has()</a></li>
		<li><a href="/subgrid">subgrid</a></li>
	</div>
</BaseLayout>


<style>
	@layer theme {
		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		main {
			max-width: var(--max-width);
			margin: 0 auto;
			padding: var(--spacing-lg);
		}

		ul {
			margin: var(--spacing-lg) 0;
			padding: 0 var(--spacing-md);
		}

		li {
			list-style: none;
			margin: var(--spacing-md) 0;
		}
	}
</style>
